<p>operand 1: <input type="number" id="operand1" [(ngModel)]="operand1"></p>

<p>operand 2: <input type="number" id="operand2" [(ngModel)]="operand2"></p>

<p><input id="addBtn" type="button" value="Add" (click)="onAddClicked()">
    <input id="subtractBtn" type="button" value="Subtract" (click)="onSubtractClicked()">
    <input id="multiplyBtn" type="button" value="Multiply" (click)="onMultiplyClicked()">
    <input id="divideBtn" type="button" value="Divide" (click)="onDivideClicked()">
</p>

<div class="container mt-5" *ngIf="answerIsAvailable">
<p>Answer: <input type="text" id="answerField" [value]="answer"></p>
</div>