<div class="card mx-auto text-center border-light">
    <!-- style="width: 40rem;" -->
    <!-- <img src="assets/angular.png" class="card-img-top" alt="Angular logo"> -->
    <div class="card-body">

        <div *ngIf="service!=undefined">
            <img src="/assets/{{service.ServiceID}}.jpg" [alt]="service.ServiceName" >
         
            <!-- <p class="card-text">{{service.Description}}</p> -->
            <h2>{{ service.ServiceName }}</h2>
            <p>{{ service.Description }}</p>
            <p>{{ service.Price | currency }}</p>
            <p>{{ service.Minutes }} Minutes</p>
            <a [routerLink]="['/review']" class="mt-auto  btn btn-primary">Submit a review</a>
        </div>
    </div>
</div>