<div class="container">
  <div class="row mt-5 mb-5">
    <label for="categoriesDDL">Type of saying: </label>
    <select id="categoriesDDL" (change)="onSelectSaying($event)">
      <option value="">Select one...</option>
      <option *ngFor="let category of categories">
        {{category}}
      </option>
    </select>
  </div>
  <div class="row mt-5 mb-5">
      <label class="form-label">Name:</label>
      <input type="text" id="personSearch" name="personSearch" [(ngModel)]="personSearch" >
      <input id="searchBtn" type="button" value="Search" (click)="onSearchClicked()">

  </div>
  <div class="row mt-5">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Category</th>
          <th>Quote</th>
          <th>Person</th>
        </tr>
      </thead>
      <tbody *ngIf="matchingSayings.length > 0; else noSayings">
        <tr *ngFor="let saying of matchingSayings">
          <td>{{saying.category}}</td>
          <td>{{saying.quote}}</td>          
          <td>{{saying.person}}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noSayings>
      No sayings available
    </ng-template>
  </div>
</div>


<router-outlet></router-outlet>