<header>
    <app-header></app-header>
</header>

<div class="container overflow-auto">
<!-- <div class="content bg-light">
    <div class="album py-5 bg-light">
        <div class="container"> -->
            <router-outlet></router-outlet>
        <!-- </div>
  </div>
</div> -->
  </div>
<footer class="footer mt-auto py-3">
    <app-footer></app-footer>
</footer>