<!-- <main> -->
  <!-- <div class="album py-5 bg-light"> -->
    <div class="container">
      <h1>{{title}}</h1>
      <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-2">
          <div class="col" *ngFor="let product of products">
            <div class="card shadow-sm" >
            <img [src]="product.product1ImageURL" [alt]="product.product1AltText" >
            <div class="card-body">
              <p class="card-text">{{product.imageName}}</p>
            </div>            
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
<!-- </main> -->