<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>userId</th>
            <th>Title</th>
            <th>completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.userId }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.completed }}</td>
        </tr>
    </tbody>
</table>