<h2>Course Details</h2>
<p>{{course.id}}</p>
<p>{{course.dept}}</p>
<p>{{course.courseNum}}</p>
<!-- 
public id!: number;
public dept: string = '';
public courseNum: string = '';
public courseName: string = '';
public instructor: string = '';
public startDate: string = '';
public numDays!: number; -->