<h2 class="d-flex justify-content-center">{{title}}</h2>
<div class="container">
    <form ngNativeValidate (submit)="onFormSubmitted($event)">
    <div class="form-group">
        <label for="essay">Essay</label>
        <input type="textarea" class="form-control" id="essay" name="essay" placeholder="Submit your essay here"
            [(ngModel)]="essay" autofocus />
            <div>Words:<span id="wordCount">{{ words }}</span></div>
    </div>
    <input type="submit" value="Submit">
</form>
</div>
<br>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <td>Essay</td>
            <td>{{essay}}</td>
        </tr>
    </table>
</div>