<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ServiceID</th>
            <th>ServiceName</th>
            <th>CategoryName</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services">
            <!-- <td><a [routerLink]="['/services']" [queryParams]="{ id: category.CatId }">{{ category.CategoryName }}</a></td> -->
            <td>{{ service.ServiceID }}</td>
            <td><a [routerLink]="['/service-detail']" [queryParams]="{ id: service.ServiceID }">{{ service.ServiceName }}</a></td>
            <td>{{ service.CategoryName }}</td>
        </tr>
    </tbody>
</table>

<!-- public ServiceID: string = '';
public ServiceName: string = '';
public Description: string = '';
public Price: string = '';
public Minutes: string = '';
public CategoryName: string = ''; -->