
<h2>{{song.artist}}</h2>
<h2>{{song.name}}</h2>

<!-- <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="{{url}}"
  frameborder="0"></iframe> -->

  <iframe width="560" height="315" [src]='url' frameborder="0" allowfullscreen></iframe>