
<div class="mb-3">
    <label for="reviewer" class="form-label">Name</label>
    <input type="text" class="form-control" [(ngModel)]="reviewer" id="reviewer" placeholder="Name">
  </div>
  <div class="mb-3">
    <label for="comment" class="form-label">Comment</label>
    <input type="text" class="form-control" [(ngModel)]="comment" id="comment" placeholder="Comment">
  </div>

<p><input id="submitBtn" type="button" value="Submit Comment" (click)="onSubmitReviewClicked()">