<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>userId</th>
            <th>Title</th>
            <th>completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{ course.id }}</td>
            <td>{{ course.dept }}</td>
            <td>{{ course.courseNum }}</td>
            <td><a [routerLink]="['/course-details']" [queryParams]="{ id: course.id }" >{{ course.courseName }}</a></td>
        </tr>
    </tbody>
</table>
<!-- 
public id!: number;
public dept: string = '';
public courseNum: string = '';
public courseName: string = '';
public instructor: string = '';
public startDate: string = '';
public numDays!: number; -->