/* You can add global styles to this file, and also import other style files */
.body {

    height: 100%;
    display: flex;
    /* flex-direction: column; */
    padding: 300px;
    flex-direction: column;
  }

  .container {
    padding-bottom: 40px;
  }

  .card img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}