<div>
<h4>
    {{title}}
</h4>
<div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" [(ngModel)]="name" id="reviewer" placeholder="Name">
  </div>
  <div class="mb-3">
    <label for="species" class="form-label">species</label>
    <input type="text" class="form-control" [(ngModel)]="species" id="species" placeholder="species">
  </div>

  <div class="mb-3">
    <label for="breed" class="form-label">breed</label>
    <input type="text" class="form-control" [(ngModel)]="breed" id="breed" placeholder="breed">
  </div>
  <div class="mb-3">
    <label for="owner" class="form-label">owner</label>
    <input type="text" class="form-control" [(ngModel)]="owner" id="owner" placeholder="owner">
  </div>
  
  <div class="mb-3">
    <label for="checkInDate" class="form-label">checkInDate</label>
    <input type="date" class="form-control" [(ngModel)]="checkInDate" id="checkInDate" placeholder="checkInDate">
  </div>
  <div class="mb-3">
    <label for="checkOutDate" class="form-label">checkOutDate</label>
    <input type="date" class="form-control" [(ngModel)]="checkOutDate" id="checkOutDate" placeholder="checkOutDate">
  </div>   
  
<p><input id="submitBtn" type="button" value="Submit Animal" [routerLink]="['/animals']" (click)="onSubmitAnimalClicked()">

</div>