<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
    <th>Title</th>
    <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    </tr>
    </tbody>
    </table>