<div>

    <div class="d-flex justify-content-center m-4">
        <div class="form-outline me-3" style="width: 14rem">
            <h3>
                Animals
            </h3>
        </div>
        <a [routerLink]="['/animal']" class="btn btn-primary ">New Animal</a>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <h3 class="one">Text</h3>
            <button class="btn btn-secondary float-right">Button</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <h3 class="one">Text</h3>
          <button class="btn btn-secondary ml-auto">Button</button>
        </div>
      </div> -->
      

        <!-- <div class="columns">
            <div class="one-fifth column center-text">
            
            </div>
            <div class="four-fifths column ">
                <a [routerLink]="['/animal']" class="  btn btn-primary ">New Animal</a>
            </div>
          </div>         -->

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        <div class="col" *ngFor="let animal of animals">
            <div class="card shadow-sm h-100">
                <!-- <img [src]="product.product1ImageURL" [alt]="product.product1AltText" > -->
                <div class="card-body">
                    <h5 class="card-title">{{animal.animalId}}</h5>
                    <p class="card-text">{{animal.name}}</p>
                    <p class="card-text">{{animal.breed}}</p>
                    <!-- <a [routerLink]="['/service-detail']" [queryParams]="{ id: service.ServiceID }" class="btn btn-primary">details</a> -->
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>animalId</th>
                <th>name</th>
                <th>species</th>
                <th>breed</th>
                <th>owner</th>
                <th>checkInDate</th>
                <th>checkOutDate</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animals">
                <td>{{ animal.animalId }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.species }}</td>
                <td>{{ animal.breed }}</td>
                <td>{{ animal.owner }}</td>
                <!-- <td>{{ animal.checkInDate }}</td> -->
                <td>{{ animal.checkInDate | date : 'MM/dd/yyyy' }}</td>
                <td>{{ animal.checkOutDate | date : 'MM/dd/yyyy'}}</td>
                <!-- <a [routerLink]="['/menu-item']" [queryParams]="{ id: item.id }">{{ item.name }}</a></td>     -->
                <!-- <a  routerLink="['/animals']" (click)="onDeleteAnimalClicked(animal.animalId)">Delete</a> -->
                <td> <a [routerLink]="['/animal']" [queryParams]="{ id: animal.animalId }"
                        class="mt-auto  btn btn-primary">Update</a></td>
                <td> <a [routerLink]="" (click)="onDeleteAnimalClicked(animal.animalId)"
                        class="mt-auto  btn btn-primary">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>