<!-- <table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>CategoryName</th>
            <th>CatId</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td><a [routerLink]="['/services']" [queryParams]="{ id: category.CatId }">{{ category.CategoryName }}</a>
            </td>
            <td>{{ category.CatId }}</td>
        </tr>
    </tbody>
</table> -->

<div class="row mt-5 mb-5">
    <label for="categoriesDDL">Type of Service: </label>
    <select id="categoriesDDL" (change)="onSelectCategory($event)">
        <option value="">Select one...</option>
        <option *ngFor="let category of categories" [value]="category.CatId">
            {{category.CategoryName}}
        </option>
    </select>
</div>
<!-- <div class="row mt-5">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ServiceID</th>
                <th>ServiceName</th>
                <th>CategoryName</th>
            </tr>
        </thead>
        <tbody *ngIf="matchingServices.length > 0; else noServices">
            <tr *ngFor="let service of matchingServices">
                <td>{{ service.ServiceID }}</td>
                <td><a [routerLink]="['/service-detail']" [queryParams]="{ id: service.ServiceID }">{{
                        service.ServiceName }}</a></td>
                <td>{{ service.CategoryName }}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noServices>
        No activities available
    </ng-template>
</div> -->
<!-- row-cols-3 -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div class="col" *ngFor="let service of matchingServices">
        <div class="card shadow-sm h-100">
            <img src="/assets/{{service.ServiceID}}.jpg" [alt]="service.ServiceName" >
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{service.ServiceName}}</h5>
                <p class="card-text">{{service.Description}}</p>
                <a [routerLink]="['/service-detail']" [queryParams]="{ id: service.ServiceID }" class="mt-auto  btn btn-primary">details</a>
            </div>
        </div>
    </div>
</div>