<div class="container">

    <h3>Activities</h3>

    <div class="row mt-5 mb-5">
        <label for="categoriesDDL">Type of activity: </label>
        <select id="categoriesDDL" (change)="onSelectCategory($event)">
            <option value="">Select one...</option>
            <option *ngFor="let category of categories">
                {{category}}
            </option>
        </select>
    </div>
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody *ngIf="matchingActivities.length > 0; else noActivities">
                <tr *ngFor="let activity of matchingActivities">
                    <td>{{activity.category}}</td>
                    <td>{{activity.name}}</td>
                    <td>{{activity.price | currency}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noActivities>
            No activities available
        </ng-template>
    </div>
</div>