<div class="card mx-auto text-center border-light">
    <!-- style="width: 40rem;" -->
    <!-- <img src="assets/angular.png" class="card-img-top" alt="Angular logo"> -->
    <div class="card-body">
        <h5 class="card-title">Detroit Animal Shelter</h5>
        <p class="card-text">
            Welcome to the Detroit Animal Shelter here in Detroit, Michigan.
        </p>
    </div>
    