<div class="card mx-auto text-center border-light" style="width: 40rem;">
    <!-- <img src="assets/angular.png" class="card-img-top" alt="Angular logo"> -->
    <div class="card-body">
        <h5 class="card-title">To Do App Home</h5>
        <p class="card-text">
            {{intro}}
        </div>
</div>