<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>street</th>
            <th>city</th>
            <th>company</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address.street }}</td>
            <td>{{ user.address.city }}</td>
            <td>{{ user.company.name }}</td>        
        </tr>
    </tbody>
</table>