<div class="card m-3">
    <h5 class="card-header">Form Exercise</h5>
    <div class="card-body">

        <form (submit)="onSubmit()" ngNativeValidate>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Name:</label>
                    <input type="text" name="name" [(ngModel)]="contact.name" #name="ngModel" required minlength="4">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <!-- <div *ngIf="name.errors?.minlength"> -->
                        <div *ngIf="name.errors?.['required']">

                            <!-- <div  *ngIf="name.errors['minlength']"> -->
                            <!-- <div *ngIf="name.hasError('minlength')"> -->
                            Name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <label class="form-label">Email:</label>
                    <input type="text" name="email" [(ngModel)]="contact.email" #email="ngModel" required minlength="4">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div ng-If="email.errors?.required">
                            Email is required.
                        </div>
                        <!-- <div *ngIf="name.errors?.minlength"> -->
                        <div ng-if="email.errors?.minlength">

                            <!-- <div  *ngIf="name.errors['minlength']"> -->
                            <!-- <div *ngIf="name.hasError('minlength')"> -->
                            Email must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <label class="form-label">Phone Number:</label>
                    <input type="text" name="phoneNumber" [(ngModel)]="contact.phoneNumber" #phoneNumber="ngModel"
                        required minlength="4">
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                        <div ng-If="phoneNumber.errors?.required">
                            Phone Number is required.
                        </div>
                        <!-- <div *ngIf="name.errors?.minlength"> -->
                        <div ng-if="phoneNumber.errors?.minlength">

                            <!-- <div  *ngIf="name.errors['minlength']"> -->
                            <!-- <div *ngIf="name.hasError('minlength')"> -->
                            Phone Number must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="text-center">
                <button class="btn btn-primary me-2" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>