.under-construction {
    border: 1px solid orange;
    display: inline;
    text-align: center;
    /* position: absolute; */
    left: 0;
    right: 0;
    margin: auto;
    white-space: nowrap;
    padding: 10px 20px 10px 20px;
}