<div class="card mx-auto text-center border-light">
    <!-- style="width: 40rem;" -->
    <!-- <img src="assets/angular.png" class="card-img-top" alt="Angular logo"> -->
    <div class="card-body">
        <h5 class="card-title">Detroit SPA</h5>
        <p class="card-text">
            Welcome to the Spa here in Detroit, Michigan. Spend the day, shopping, dining, and exploring along Detroit,
            where you can conveniently
            find your local Detroit Spa. Upon arrival, a variety of warm and relaxing teas are available to help you
            slip into a state of complete
            relaxation or enjoy a signature Woodhouse Mimosa or glass of wine in our luxurious Quiet Room between
            services.
            We can't wait for you to experience the Detroit SPA way.
    </div>
    <div>
        <h3>
            Reviews
        </h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
            <div class="col" *ngFor="let review of reviews">
                <div class="card shadow-sm h-100">
                    <!-- <img [src]="product.product1ImageURL" [alt]="product.product1AltText" > -->
                    <div class="card-body">
                        <h5 class="card-title">{{review.reviewer}}</h5>
                        <p class="card-text">{{review.comment}}</p>
                        <p class="card-text">{{review.date}}</p>
                        <!-- <a [routerLink]="['/service-detail']" [queryParams]="{ id: service.ServiceID }" class="btn btn-primary">details</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>